.cart_main {
  padding-top: 90px;
}
h2 {
  margin: 54px 0 72px;
  text-align: center;
}
.cart_area {
  position: relative;
  justify-content: center;
  gap: 88px;
  margin-bottom: 90px;
}
.cart_list ul {
  width: 784px;
}
.cart_list li {
  width: 100%;
  padding: 23px 30px;
  background: var(--background-g);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 18px;
  position: relative;
}
.cart_list .cart_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background: none;
  box-shadow: none;
}

.cart_item_del {
  width: 64px;
  height: 35px;
  border-radius: 5px;
  font-weight: 700;
  line-height: 27px;
  border: none;
  background: var(--primary-r);
  color: var(--background-w);
  text-align: center;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.cart_list li img {
  width: 120px;
  height: 80px;
  border-radius: 10px;
}
.cart_list li .cart_list_contents {
  margin-left: 30px;
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
}
.cart_list li .cart_list_contents h3 {
  margin-bottom: 18px;
}
.cart_list li .cart_list_contents span.liprice {
  width: 100px;
  display: inline-block;
  text-align-last: left;
}
.cart_list li .cart_list_contents span:last-child {
  display: inline-block;
  text-align: center;
  width: 220px;
  margin-left: 155px;
}
.cart_area .checkout_area {
  display: inline-block;
  position: sticky;
  height: 450px;
  top: 145px;
}
.cart_cal {
  padding: 36px 40px;
  color: var(--background-w);
  background: var(--primary-n);
  border-radius: 20px;
  text-align: center;
}
.cart_cal h3 {
  text-align-last: left;
}
select {
  background: var(--highlight-m);
  color: var(--primary-n);
  height: 40px;
  width: 232px;
  margin-bottom: 28px;
  border: none;
  padding-left: 20px;
}
.cart_cal h3:first-of-type {
  margin-bottom: 19px;
}
.cart_cal .price,
.cart_cal .discount_price {
  margin-bottom: 38px;
}
.cart_cal .total_price {
  margin-bottom: 25px;
}

/* 강좌 삭제 팝업 */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  height: 253px;
  background: var(--background-w);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transform: translate(-50%, -40%);
  padding: 37px 0;
}
.background.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.popup input {
  width: 586px;
  height: 36px;
  background: var(--background-w);
  border: 1px solid var(--primary-n);
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin: 34px 0 39px;
}
.popup > div {
  flex-direction: column;
  justify-items: center;
}
.popup .popup_btns {
  gap: 136px;
}
