main {
    margin-top: 60px;
}
.hidden {
    display: none;
} 
.select_box{
    width: 312px;
    margin-right: 24px;
}
div[class$=_box] {
    border: 2px solid #E0E9EF;
    border-radius: 20px;
    margin-bottom: 18px;
}
div[class$=_box] input[type="checkbox"] {
    margin-right: 25px;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
div[class$=_box] input[type="checkbox"]:after {
    content: '';
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #2B96DC;
    width: 20px;
    height: 20px; 
    position: relative;
}
input[type="checkbox"]:checked {
    background: #2B96DC;
    border-radius: 5px;
}
input[type="checkbox"]:checked::after {
    background: url(../images/check.png) center center;
  display: block;
}
.box_title {
    font-weight: 600;
    font-size: 21px;
    padding: 22px 25px;
    justify-content: space-between;
}
.check_wrap.on{
    border-bottom: none;
}
.check_wrap.on .fa-solid {
    transform: rotate(180deg);
}
.check_wrap {
    border-top: #E0E9EF 2px solid;
    /* padding: 22px 25px 30px; */
    display: none;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.check_wrap label {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
}
.check_wrap .price_show label{
    flex-direction: column;
}
.price_box .check_wrap > label{
    margin-bottom: 25px;
}
.check_wrap label:last-child{
    margin-bottom: 0;
}
.price_box .price_show {
    margin-top: 24px;
}
.price_box .price_show p {
    margin: 35px 6px 0 6px;
}
.price_box .price_show input {
    width: 114px;
    height: 36px;
    background: rgba(224, 233, 239, 0.3);
    border: 1px solid #256B9A;
    border-radius: 5px;
    margin-top: 7px;
}
.price_box .price_show input[value] {
    padding-left: 10px;
    font-size: 18px;
    color: #797979;
}
.price_box .price_show label {
    font-size: 18px;
    color: #797979;
}
.lecture_list{
    width: 984px;
}
.lecture_list .course_recom {
    width: 137px;
    height: 44px;
    background: #E0E9EF;
    border-radius: 10px;
    border: none;
}
.lecture_list .recommend{
    display: flex;
    justify-content: space-between;
}
.lecture_wrap {
    margin: 20px 0;
    /* display: flex; */
}
.lecture_wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.lecture_wrap .lecture {
    width: 310px;
    height: 306px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 36px;
}
.lecture_wrap .lecture figure{
    height: 198px;
}
.lecture_wrap .lecture figure img{
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}
.lecture_wrap .title{
    font-size: 18px;
    /* margin-bottom: 30px; */
}
.lecture_wrap .lecture_info{
    justify-content: space-between;
    font-size: 18px;
}
.lecture_wrap .info_wrap {
    padding: 18px 15px 14px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fa-chevron-up {
    transition: transform 0.3s ease-in-out;
}

.fa-chevron-up.rotate {
    transform: rotate(180deg);
}
.fa-crown {
    margin-right: 5px;
}
.course_recom{
    transition: 0.4s;
}
.course_recom:hover {
    background: #2B96DC;
    font-weight: bold;
}