body {
    background: var(--background-g);
}
.hidden{
    display: none;
}
.inner{
    max-width: 1420px;
    margin: 0 auto;
}
.inner section {
    width: 710px;
}
.modal-body{
    padding: 2rem;
}
.deco_container{
    position: relative;
}
.deco {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 36px;
    margin: 55px 174px 0 0;
}

@keyframes animate-svg-move {
    0% { left: -100px; top:0; }
    100% { left: 0; top:0;}
}

svg{
    position: relative;
    animation: animate-svg-move 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes animate-svg-color {
    0% { fill: transparent;}
    100% { fill: rgb(0, 0, 0); }
}

.svg-name {
    animation: animate-svg-color 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
 
@keyframes animate-svg-fill {
    0% { fill: transparent; }
    100% { fill: rgb(28, 56, 244); }
}
  
.svg-elem {
    animation: animate-svg-fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
  
#l1{ animation-delay: 0.7s; }
#l2{ animation-delay: 0.75s; }
#l3{ animation-delay: 0.8s; }
#l4{ animation-delay: 0.85s; }
#l5{ animation-delay: 0.9s; }
#l6{ animation-delay: 0.95s; }
#l7{ animation-delay: 1.0s; }
#l8{ animation-delay: 1.05s; }

@keyframes slideup {
    from { opacity: 0;}
    to { opacity: 1;}
  }

.slogan{
    align-self: flex-end;
    padding-right: 90px;
    font-size: 45px;
    line-height: 72px;
    height: 72px;
    font-weight: 700;
    animation: slideup 1s both 1.5s;
}
.keyword{
    font-size: 52px;
    color: var(--primary-n);
}
.keyword::after {
    content: '';
    margin-left: 0.3rem;
    border-right: 2px solid #777;
    animation: cursor 0.9s infinite steps(2);
  }
 
  @keyframes cursor {
    from { border-right: 2px solid var(--background-g); }
    to { border-right: 2px solid #777; }
  }

  .deco img{
    width: 450px;
    object-fit: contain;
  }
  

.signup {
    margin: 52px 0 112px;
    padding-top: 108px;
}
.signup form {
    background: #fff;
    padding: 54px 112px 108px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.signup form h2 {
    text-align: center;
    margin-bottom: 90px;
}
.signup .input_info {
    border-bottom: 1px solid var(--primary-n);
    margin-bottom: 36px;
}
.signup .input_info label {
    font-size: 18px;
}
.signup .input_info input {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
}
.signup .passwd_check {
    position: relative;
    margin-bottom: 52px;
}
.signup .passwd_check #check {
    position: absolute;
    top: 120%;
    left: 0;
}
.form-control {
    border-radius: 0;
}
.signup .input_info .profile_img_btn {
    font-size: 14px;
    color: #fff;
    padding: 4px 12px;
    border-radius: 5px;
    background: #3e88f1;
    line-height: 27px;
    position: absolute;
    border: 1px solid var(--primary-n);
}
.signup form h3 {
    margin-bottom: 0.5rem;
}

.plus_info {
    margin: 72px 0;
}
.signup form .cate_like {
    margin-bottom: 12px;
}
.signup form .cate_like select {
    font-size: 16px;
    height: 42px;
    line-height: 36px;
    border: none;
    border-radius: 0;
}
.cate_like label {
    display: none;
}
.ability_range {
    margin-top: 24px;
}
.form-check {
    margin-bottom: 0.5rem;
}
.form-check label {
    line-height: 24px;
}
form button {
    display: block;
    margin: 108px auto 0;
}

#range,
.fa-circle-question{
    padding-left: 10px;
    color: var(--highlight-s);
}

.warning{
    box-shadow: 0 0 0 0.25rem rgba(229,57,69,.50);
}

.see_more{
    border: none;
    background: none;
    margin: 0;
}

.fa-asterisk {
    color: var(--primary-r);
    font-size: 10px;
    padding-left: 10px;
}
.fa-angle-right {
    line-height: 24px;
}


#login {
    margin: 126px auto 0;
}


.go_link{
    gap: 18px;
    padding-top: 90px;
}
.go_link a{
    position: relative;
    transition: 0.3s;
}
.go_link a:after{
    content:'';
    position: absolute;
    height: 2px; 
    background: var(--primary-r);
    top:120%; left:0; right:0;
    transition: 0.3s;
    transform:scaleX(0);
}
.go_link a:hover{
    color: var(--primary-r);
}
.go_link a:hover:after{
    transform:scaleX(1);
    height: 2px; 
}

.modal-dialog .modal-header h2{
    margin-bottom: 0;
}