* {
  box-sizing: border-box;
}

.page-title {
  color: #161616;
  margin-top: 81px;
}

.borad_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 81px 0;
}

.board_forms {
  display: flex;
  font-size: 18px;
  color: #1d3557;
}

.form-select {
  width: 133px;
  height: 56px;
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid #1d3557;
}

.form-control {
  width: 378px;
  height: 56px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 24px;
  border-radius: 5px;
  border: 1px solid #1d3557;
}

table {
  width: 100%;
  /* height: 460px; */
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

table thead {
  height: 55px;
  border-radius: 10px 10px 0px 0px;
  background: #457b9d;
  font-size: 24px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
}

/* 테이블 텍스트 중간 정렬 */

thead tr th:first-child,
tbody tr td:first-child {
  text-align: center;
  padding-left: 40px;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  text-align: center;
  width: 600px;
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
  text-align: center;
  padding-left: 10px;
}

thead tr th:nth-child(4),
tbody tr td:nth-child(4) {
  text-align: center;
  padding-left: 10px;
}

tbody tr {
  font-size: 24px;
  line-height: 81px;
  color: #1d3557;
}

tbody tr th {
  text-align: center;
  line-height: 55px;
  padding-right: 10px;
}
/* 테이블 중간 정렬 끝 */

tbody tr:not(:last-child) {
  border-bottom: 1px solid #1d3557;
}

.edit {
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  padding: 4px 17px;
  background: #1d3557;
  border-radius: 5px;
  border: 0;
  outline: 0;
  display: inline-block;
}

.del {
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  padding: 4px 17px;
  background: #e53945;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.board_pagination {
  margin-top: 80px;
  margin-bottom: 250px;
}

.board_pagination a {
  color: var(--primary-n);
  display: inline-block;
  border-radius: 50%;
  background: none;
  font-size: 18px;
  font-weight: 700;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
}
.board_pagination a.active {
  color: var(--background-g);
  background: var(--primary-n);
}
