body {
  background: var(--background-g);
}
main h2.page-title {
  margin: 81px 0 81px -12px;
}
input,
select {
  padding: 15px 25px;
  border: 1px solid var(--primary-n);
  border-radius: 5px;
  height: 54px;
  font-size: 18px;
  font-weight: 500;
}
select:focus,
.form-select:focus,
input:focus,
.form-control:focus {
    outline: none;
    border: 6px solid rgba(62,136,241,.5);
    padding: 10px 10px;
    box-sizing: border-box;
}
.category_wrapper select {
  /* width: 420px; */
  height: 54px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 81px;
}
.select_container {
  flex-direction: column;
  align-items: center;
}

dialog {
  text-align: center;
  border: none;
  padding: 80px 164px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
/* dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
} */
dialog .modal-header h2 {
  margin-left: -12px;
  margin-bottom: 50px;
}
dialog .modal-body {
  flex-direction: column;
  gap: 27px;
  margin-bottom: 54px;
  width: 607px;
}
dialog .modal-body > input,
dialog .modal-body > select {
  height: 54px;
  color: var(--primary-n);
  font-size: 18px;
  font-weight: 700;
}
dialog .modal-body input::placeholder {
  color: var(--primary-n);
  font-size: 18px;
  font-weight: 700;
}
.modal_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: none;
  pointer-events: none;
}
.modal_bg.active{
  background: rgba(224, 233, 239, 0.9);
}