.content-body {
  height: auto;
}
main h2.page-title {
  margin: 81px 0 0 -12px;
}
.cate_list_btn_wrapper {
  gap: 30px;
}
main table {
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
main table thead {
  background: var(--highlight-s);
  color: #fff;
  border-bottom: 1px solid var(--highlight-s);
}
main table thead tr th {
  width: 33%;
  padding: 20px 0;
}
main table thead tr th:first-child {
  border-top-left-radius: 20px;
}
main table thead tr th:last-child {
  border-top-right-radius: 20px;
}
main table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
main table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
main table tbody tr td {
  text-align: center;
  background: var(--background-w);
  line-height: 27px;
  padding: 18px 50px;
  height: 27px;
  font-size: 24px;
  border-bottom: 1px solid var(--highlight-s);
}
main table tbody tr:last-child td {
  border-bottom: none;
}
main table tbody tr:first-child  td{
  padding-top: 27px;
}
main table tbody tr:last-child td {
  padding-bottom: 27px;
}