* {
  box-sizing: border-box;
}

.page-title {
  color: #161616;
  margin-top: 81px;
}

.coupon_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 81px 0;
}

.coupon_search {
  display: flex;
}

.form-control {
  width: 462px;
  height: 56px;
  border: 1px solid #1d3557;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 30px;
  margin-right: 20px;
}

.form-select {
  width: 165px;
  height: 40px;
  border: 1px solid #1d3557;
  border-radius: 5px;
  position: absolute;
  right: calc(0% + 230px);
  top: 50px;
}

ul.coupon_list,
li.list_contents {
  list-style: none;
  /* display: inline-flex;
  align-items: center;
  gap: 60px;
  padding-left: 55px; */
}

figure img {
  border-radius: 10px;
  width: 198px;
  height: 136px;
  position: absolute;
  /* padding: 40px 50px; */
  left: 50px;
  top: 40px;
}

.big_titles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.titles{
  position: absolute;
  top: 53px;
  left: 300px;
}
.btns {
  display: flex;
  gap: 15px 0;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  right: calc(0% + 50px);
  top: 50px;
}

.coupon_list {
  width: 100%;
  height: 216px;
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
}

div h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: #161616;
}

.sub_titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
}

/* 페이지네이션 */
.coupon_pagination {
  margin-top: 80px;
}
.coupon_pagination a {
  color: var(--primary-n);
  display: inline-block;
  border-radius: 50%;
  background: none;
  font-size: 18px;
  font-weight: 700;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
}
.coupon_pagination a.active {
  color: var(--background-g);
  background: var(--primary-n);
}
