@import url(common.css);

body {
  background: var(--background-g);
}
section {
  color: var(--primary-n);
  margin-bottom: 27px;
}
section h3 {
  margin-bottom: 12px;
}
#bookmark-menu {
  margin-top: 30px;
}
#bookmark-menu h2 {
  margin-bottom: 17px;
}
#bookmark-menu h2 i {
  margin-right: 11px;
}
#bookmark-menu .bookmark-list {
  gap: 29px;
}
#bookmark-menu .bookmark-list .bookmark-item {
  width: 200px;
  height: 135px;
  border-radius: 20px;
  background: var(--background-w);
  text-align: center;
}
#bookmark-menu .bookmark-list .bookmark-item i {
  font-size: 48px;
  margin-bottom: 15px;
}
#bookmark-menu .bookmark-list .bookmark-item span {
  font-size: 18px;
  font-weight: 700;
  color: var(--typography);
}

.dashboard-data {
  position: relative;
  height: 351px;
  margin-bottom: 27px;
}
#course-data,
#click-data,
#newcourse,
#calendar-data {
  position: absolute;
  top: 0;
}
#course-data {
  left: 0;
  margin-right: 40px;
}

#click-data,
#calendar-data {
  right: 0;
}

#course-data span > a,
#click-data span > a,
#newcourse span > a,
#calendar-data span > a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #7a7a7a;
}
#course-data div {
  width: 606px;
  height: 312px;
  border-radius: 20px;
  background: var(--background-w);
}
#click-data div {
  width: 706px;
  height: 312px;
  border-radius: 20px;
  background: var(--background-w);
}
#newcourse {
  left: 0;
}
#newcourse ul {
  width: 820px;
}
#newcourse .newcourse-item {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  background: var(--background-w);
  padding-left: 30px;
  margin-bottom: 19px;
  color: #525252;
}
#newcourse .newcourse-item:last-child {
  margin-bottom: 0;
}
/* 달력 */
#calendar {
  width: 493px;
  height: 337px;
  padding: 25px 25px 20px;
  background: var(--highlight-s);
  border-radius: 20px;
  box-sizing: border-box;
}
.cld-main {
  position: relative;
  box-sizing: border-box;
}
.cld-main a {
  color: #333;
  font-weight: bold;
}
.cld-datetime {
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.cld-datetime .today {
  margin: auto;
  text-align: center;
  color: var(--background-w);
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.cld-nav {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.cld-nav svg {
  fill: var(--background-w);
}
.cld-nav:hover {
  cursor: pointer;
}
.cld-nav:hover svg {
  fill: #666;
}
.cld-rwd {
  content: url(../img/caret-left-solid.svg);
  left: 0;
  height: 36px;
}
.cld-fwd {
  content: url(../img/caret-right-solid.svg);
  height: 36px;
  right: 0;
}
.cld-label:not(:last-of-type) {
  margin-right: 22px;
}
.cld-day:not(:nth-of-type(7n)) {
  margin-right: 22px;
  margin-bottom: 7px;
}
.cld-day:nth-last-of-type(-n + 7) {
  margin-bottom: 0;
}
.cld-labels {
  margin-bottom: 10px;
}
.cld-labels,
.cld-days {
  padding-left: 0;
  text-align: center;
}
.cld-label,
.cld-day {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.cld-label {
  color: var(--typography);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  height: 18px;
}
.cld-days {
  width: 342px;
  margin: auto;
}
.cld-day.today .cld-number {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--primary-n);
}
.cld-day.disableDay {
  opacity: 0.5;
}
.cld-day.nextMonth,
.cld-day.prevMonth {
  opacity: 0.33;
}
.cld-number {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
}
.cld-title {
  position: absolute;
  z-index: 5;
  display: none;
  top: 30px;
  left: 0;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}
.cld-number:hover .cld-title {
  display: block;
}
.cld-title::before {
  content: "";
  position: absolute;
  top: -7.5px;
  left: 7.5px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #ccc;
}
.cld-number.eventday {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #999;
}
.cld-number.eventday:hover {
  cursor: pointer;
  background: #eee;
}
.today .cld-number.eventday:hover {
  background: #888;
}

.cld-day:nth-of-type(n + 43) {
  display: none;
}
